
.c-p{
    cursor: pointer;
}
.css-ward:hover{
 color: #22F52C;
 cursor: pointer;
}
.css_vip{
    font-size: 0.8em;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    color: #37F0DA;
}
.div_search_hn {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: red;
    box-shadow: 10px 10px;
}

.vrz{
    font-weight: bold;
    font-size: 1.4em;
    color: #22F52C;
}
.bt{
    color: #EDAC16;
    font-weight: bold;
    font-size: 1.4em;
}
.headname{
    color: #fff;
    font-size: 1.4em;
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
}

.beddetf{
color: #EF4312;
font-family: 'Kanit', sans-serif;
background: #000;
font-size: 1.4em;
cursor: pointer;
border-radius: 8px;
padding: 10px;
margin: 1px;
font-weight: bold;
}

.bedfull{
color: #1FFB31;
font-family: 'Kanit', sans-serif;
background: #000;
font-size: 1.4em;
cursor: pointer;
border-radius: 8px;
padding: 10px;
font-weight: bold;
margin: 1px;
}

.bedq{
    color: #F7F0EE;
}
.bedq:hover{
    color: #11D653;
}

.hover-main:hover{
    cursor: pointer;
}

.bednull{
    color: #CBD613;
    font-family: 'Kanit', sans-serif;
    background: #000;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    margin: 1px;
    }



[beddetf-md-tooltip] {
    z-index: 9;
    position: relative;
   }
   [beddetf-md-tooltip]:before {
      content: attr(beddetf-md-tooltip);
      position: absolute;
      bottom: -35px;
      left: 100%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #06456B;
      color: white;
      border-radius: 2px;
      font-size: 1.2em;
      font-family: Roboto,sans-serif;
      font-weight: 400;
   }
   [beddetf-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }

[bedfull-md-tooltip] {
    z-index: 9;
    position: relative;
   }
   [bedfull-md-tooltip]:before {
      content: attr(bedfull-md-tooltip);
      position: absolute;
      bottom: -35px;
      left: 100%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #BD1A1A;
      color: white;
      border-radius: 2px;
      font-size: 1.2em;
      font-family: Roboto,sans-serif;
      font-weight: 400;
   }
   [bedfull-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }


   [null-md-tooltip] {
    z-index: 9;
    position: relative;
   }
   [null-md-tooltip]:before {
      content: attr(null-md-tooltip);
      position: absolute;
      bottom: -35px;
      left: 100%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #CBD613;
      color: white;
      border-radius: 2px;
      font-size: 1.2em;
      font-family: Roboto,sans-serif;
      font-weight: 400;
   }
   [null-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }


   [md-tooltip] {
    z-index: 9;
    position: relative;
   }
   [md-tooltip]:before {
      content: attr(md-tooltip);
      position: absolute;
      bottom: -70px;
      left: 100%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #DD3D10;
      color: white;
      border-radius: 2px;
      font-size: 18px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      
   }
   [md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }

   [bedtotal-tooltip] {
    z-index: 9;
    position: relative;
   }
   [bedtotal-tooltip]:before {
      content: attr(bedtotal-tooltip);
      position: absolute;
      bottom: -35;
      left: 78%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #D3D60E;
      color: #000;
      border-radius: 2px;
      font-size: 14px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      
   }
   [bedtotal-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
   }

   .css-room{
       font-size: 0.8em;
       color: #000;
   }


   [index-tooltip] {
    z-index: 9;
    position: relative;
    font-family: 'Kanit', sans-serif;
   }
   [index-tooltip]:before {
    font-family: 'Kanit', sans-serif;
      content: attr(index-tooltip);
      position: absolute;
      bottom: -35;
      left: 50%;
      top: 80%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #D3D60E;
      color: #000;
      border-radius: 2px;
      font-size: 14px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      
   }
   [index-tooltip]:hover:before {
    font-family: 'Kanit', sans-serif;
    transform: translateX(-50%) scale(1);
   }


   [order-tooltip] {
    z-index: 9;
    position: relative;
    font-family: 'Kanit', sans-serif;
   }
   [order-tooltip]:before {
    font-family: 'Kanit', sans-serif;
      content: attr(order-tooltip);
      position: absolute;
      bottom: -35;
      left: 50%;
      top: 80%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #94FCD9;
      color: #000;
      border-radius: 2px;
      font-size: 14px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      
   }
   [order-tooltip]:hover:before {
    font-family: 'Kanit', sans-serif;
    transform: translateX(-50%) scale(1);
   }
   [addbed-tooltip] {
    z-index: 0;
    position: relative;
    font-family: 'Kanit', sans-serif;
   }
   [addbed-tooltip]:before {
    font-family: 'Kanit', sans-serif;
      content: attr(addbed-tooltip);
      position: absolute;
      bottom: -35;
      left: -80%;
      top: 10%;
      padding: 8px;
      transform: translateX(-50%) scale(0);
      transition: transform 0.3s ease-in-out;
      transform-origin: top;
      background: #94FCD9;
      color: #000;
      border-radius: 2px;
      font-size: 14px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      
   }

   [addbed-tooltip]:hover:before {
    font-family: 'Kanit', sans-serif;
    transform: translateX(-50%) scale(1);
   }
   .btn-cloce{
    background-color: #839C99;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
   .btn-cloce:hover{
    background-color: #2A372F;
    border: none;
    color: #FFF;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }





   .btn-add{
    background-color: #0A7B6A;
    border: none;
    color: white;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }
   .btn-add:hover{
    background-color: #023956;
    border: none;
    color: #FFF;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }

   .head-detail-patient{
    font-family: 'Kanit', sans-serif;
    font-weight: 1.4em;
    font-weight: bold;
   }
   .head-show-modal-bed{
    font-family: 'Kanit', sans-serif;
    color: #EB4C0B;
    font-size: 1.4em;
    font-weight: bold;
   }
   .css-room-modal-show{
    font-family: 'Kanit', sans-serif;
    color: #0C56B4;
    font-size: 0.8em;
    font-weight: bold;
}
   


.btn-patient-add{
    background-color: #87FEBD;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #000;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }
   .btn-patient-add:hover{
    background-color: #F43B0A;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #FFF;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }
.btn-show-add{
    background-color: #049356;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #FFF;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }
   .btn-show-add:hover{
    background-color: #22F52C;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #000;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }


   .btn-submit{
    background-color: #2701A7;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #fff;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }
   .btn-submit:hover{
    background-color: #BF6E08;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    border: none;
    color: #FFF;
    /* padding: 10px 22px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
   }




   .btn-select{
    font-family: 'Kanit', sans-serif;
    background-color: #118999;
       font-size: 1.4em;
       color: #fff;
       border-radius: 6px;
    }
.btn-select:hover{
    font-family: 'Kanit', sans-serif;
    border-radius: 6px;
    font-size: 1.4em;
color: #05C5C8;
background-color: #F20E4C;
border-radius: 6px;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  .bed-css_head{
    font-family: 'Kanit', sans-serif;
      color: #BD1A1A;
      font-size: 3.0em;
      font-weight: bold;
  }
  .bed-css_detal{
    font-family: 'Kanit', sans-serif;
    color: #049356;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .styled-table {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.zindex{
    z-index: 999;
}

.dettail-inbed{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    /* background: #000; */
    font-size: 1.6em;
    cursor: pointer;
    /* border-radius: 8px; */
    /* padding: 10px; */
    /* margin: 1px; */
    font-weight: bold;
    }